.container {
    display: flex;
    justify-content: center; 
}

.forma {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

form input {
    display: block;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

form select {
    display: block;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

.author {
    display: none;
}

.line:hover .author {
    display: inline-block;
    margin-left: 5px;
}