form {
    max-width: 300px;
    text-align: center;
}   

form input {
    display: block;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

form select {
    display: block;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}